body {
    background-color: #151517;
    color: #EBEDF3;
}

.navbar {
    background-color: #4052ab;
}

.navbar-brand {
    color: #EBEDF3;
}

.input-search {
    background-color: #EBEDF3;
    border-radius: 5px;
    height: 2.5rem;
    width: 14rem;
    border-color: #242425;
    padding: 0.5rem;
}

.input-search {
    outline-color: #242425;
}

.btn-search {
    background-color: #242425;
    color: #EBEDF3;
    border-color: #EBEDF3;
    border-radius: 5px;
    width: 5rem;
    height: 2.5rem;
    margin-left: 0.4rem;
    transition-duration: 0.4s;
    
}

.btn-search:hover{
    background-color: white;
    color: black;
    border: 1px black;
}

::placeholder {
    color: #242425;
    opacity: 1;
}

.card {
    background-color: #242425;
}

.row {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 1rem;
}

.page-link {
    background-color: #242425;
    border-color: #EBEDF3;
    color: #EBEDF3;
}

.pagination-container {
    margin: 1.5rem;
    text-align: center;
}